<!doctype html>
<html lang="pt-br">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Dados AM</title>
</head>
<body>
	<header>
		<div style="text-align: center">
			<img style="width: 250px;"
				src="https://www.tce.sp.gov.br/sites/default/files/inline-images/Logotipo-TCESP-vertical_4.png">
		</div>
		<div class="container mx-auto mt-4">
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center" style="width: 18rem;">
						<img
							src="https://images.unsplash.com/photo-1584118624012-df056829fbd0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80.jpg"
							class="card-img-top">
						<div class="card-body">
							<h5 style="text-align: center" class="card-title">COVID-19</h5>
							<p class="card-text">Saiba mais sobre o COVID-19 no estado de
								SP.</p>
							<a target="_blank"
								href="https://www.saopaulo.sp.gov.br/coronavirus/"
								class="btn btn-primary "><i class="fas fa-link"></i> Saiba
								mais</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center" style="width: 18rem;">
						<img style="width: 165px; margin-left: 65px"
							src="https://image.flaticon.com/icons/png/512/631/631200.png"
							class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">DESPESAS</h5>
							<p class="card-text">Saiba mais sobre as despesas do governo
								de SP.</p>
							<a href="/dados" class="btn btn-primary "><i
								class="fas fa-link"></i> Saiba mais</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center" style="width: 18rem;">
						<img style="width: 165px; margin-left: 65px"
							src="https://image.flaticon.com/icons/png/512/50/50724.png"
							class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">OBRAS PUBLICAS</h5>
							<p class="card-text">Saiba mais sobre as despesas em obras
								publicas de SP.</p>
							<a href="/dados" class="btn btn-primary "><i
								class="fas fa-link"></i> Saiba mais</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>